ShadowButton {
    border: 0px;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

SwitchButton{
    border: none;
    border-radius: 0px;
}

* {
    margin: 0px;
}